<h1>Create Event</h1>
<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.eventname.label }}<br>
    {{ form.eventname(size=32) }}<br>
    {% for error in form.eventname.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.date.label }}<br>
    {{ form.date(size=32) }}<br>
  </p>
  <p>
    {{ form.place.label }}<br>
    {{ form.place(size=32) }}<br>
  </p>
  <p>
    {{ form.description.label }}<br>
    {{ form.description(size=32) }}<br>

  </p>
  <p>{{ form.submit() }}</p>
</form>