<!doctype html>
<html>

<head>
  <title>DataTable AJAX pagination using Python Flask and Mysql database</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <link href='https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css' rel='stylesheet' type='text/css'>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row" style="padding:50px;">
      <p>
      <h1>DataTable AJAX pagination using Python Flask and Mysql database</h1>
      </p>
      <div>
        <table id='eventTable' class='display dataTable' width='100%'>
          <thead>
            <tr>
              <th>Sự kiện</th>
              <th>Địa điểm</th>
              <th>Thời gian</th>
              <th>Mô tả</th>
              <th>Trạng thái</th>
            </tr>
          </thead>

        </table>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {


      var eventtDataTable = $('#eventTable').DataTable({
        'processing': true,
        'serverSide': true,
        'serverMethod': 'post',
        'ajax': {
          'url': '/ajaxfile'
        },
        'lengthMenu': [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        searching: true,
        sort: false,
        "serverSide": true,
        'columns': [
          { data: 'eventname' },
          { data: 'place' },
          { data: 'date' },
          { data: 'description' },
          { data: 'status' },
        ]
      });

    });

  </script>
</body>

</html>