<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    AIME-OCR
  </title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"
    name="viewport" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}" />
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <!-- CSS Files -->
  <link href="{{ url_for('static', filename='assets/css/dashboard.min.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='assets/demo/demo.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='assets/css/custom.css') }}" rel="stylesheet" />
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vue.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/fabric.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/draw.js') }}?v=2409"></script>
  <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/core/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/core/bootstrap-material-design.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/plugins/perfect-scrollbar.jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/plugins/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/material-dashboard.min.js') }}" type="text/javascript"></script>
</head>

<body class="">
  <!-- <script>
    if (window.screen.width < 1200) {
      $('body').addClass('sidebar-mini');
    }
  </script> -->
  <!-- <div class="wrapper"> -->
  <!-- <div class="sidebar" style="background-color:#fff;padding: 20px">
      <div class="logo">
        <div class="menu-logo">
          <a href="/"> <img src="{{ url_for('static', filename='imgs/logo.png') }}" /></a>
        </div>
        <div class="menu-icon">
          <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
            <img src="{{ url_for('static', filename='imgs/group8.png') }}" alt="" />
          </button>
        </div>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="aminext-icon"><img src="{{ url_for('static', filename='imgs/home.png') }}" alt="" /></i>
              <p>ダッシュボード</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#settings" disabled="disabled">
              <i class="aminext-icon"><img src="{{ url_for('static', filename='imgs/setting.png') }}" alt="" /></i>
              <p>抽出情報設定</p>
            </a>
            <div class="collapse" id="settings">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="/templates">
                    <span class="sidebar-normal">抽出情報フォーマット設定</span>
                  </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="../examples/tables/extended.html">
                    <span class="sidebar-normal">アンケート</span>
                  </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="../examples/tables/datatables.net.html">
                    <span class="sidebar-normal">ログアウト</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item ">
            <a class="nav-link" data-toggle="collapse" href="#mapsExamples">
              <i class="aminext-icon"><img src="{{ url_for('static', filename='imgs/book.png') }}" alt="" /></i>
              <p>利用マニュアル</p>
            </a>
            <div class="collapse" id="mapsExamples">
              <ul class="nav">
                <li class="nav-item ">
                  <a class="nav-link" href="../examples/maps/google.html">
                    <span class="sidebar-normal">案内</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div> -->
  <!-- <div class="main-panel"> -->

  {% include 'header.html' %}
  {% block content %}{% endblock %}
  <!-- loading
  <div class="loader">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="200px" height="200px"
      viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
      <g transform="translate(50,50)">
        <circle cx="0" cy="0" r="8.333333333333334" fill="none" stroke="#e15b64" stroke-width="4"
          stroke-dasharray="26.179938779914945 26.179938779914945" transform="rotate(13.1559)">
          <animateTransform attributeName="transform" type="rotate" values="0 0 0;360 0 0" times="0;1" dur="1s"
            calcMode="spline" keySplines="0.2 0 0.8 1" begin="0" repeatCount="indefinite"></animateTransform>
        </circle>
        <circle cx="0" cy="0" r="16.666666666666668" fill="none" stroke="#f47e60" stroke-width="4"
          stroke-dasharray="52.35987755982989 52.35987755982989" transform="rotate(84.8526)">
          <animateTransform attributeName="transform" type="rotate" values="0 0 0;360 0 0" times="0;1" dur="1s"
            calcMode="spline" keySplines="0.2 0 0.8 1" begin="-0.2" repeatCount="indefinite"></animateTransform>
        </circle>
        <circle cx="0" cy="0" r="25" fill="none" stroke="#f8b26a" stroke-width="4"
          stroke-dasharray="78.53981633974483 78.53981633974483" transform="rotate(172.589)">
          <animateTransform attributeName="transform" type="rotate" values="0 0 0;360 0 0" times="0;1" dur="1s"
            calcMode="spline" keySplines="0.2 0 0.8 1" begin="-0.4" repeatCount="indefinite"></animateTransform>
        </circle>
        <circle cx="0" cy="0" r="33.333333333333336" fill="none" stroke="#abbd81" stroke-width="4"
          stroke-dasharray="104.71975511965978 104.71975511965978" transform="rotate(261.236)">
          <animateTransform attributeName="transform" type="rotate" values="0 0 0;360 0 0" times="0;1" dur="1s"
            calcMode="spline" keySplines="0.2 0 0.8 1" begin="-0.6" repeatCount="indefinite"></animateTransform>
        </circle>
        <circle cx="0" cy="0" r="41.666666666666664" fill="none" stroke="#849b87" stroke-width="4"
          stroke-dasharray="130.89969389957471 130.89969389957471" transform="rotate(337.468)">
          <animateTransform attributeName="transform" type="rotate" values="0 0 0;360 0 0" times="0;1" dur="1s"
            calcMode="spline" keySplines="0.2 0 0.8 1" begin="-0.8" repeatCount="indefinite"></animateTransform>
        </circle>
      </g>
    </svg>
  </div>

  <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-draggable">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
          </button>
          <img src="" class="imagepreview" style="width: 100%;">
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="show-svg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-draggable">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
          </button>
        </div>
        <div class="modal-body" style="padding: 10px 5px"></div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    jQuery(document).ready(function () {
      $('.modal-draggable').draggable({
        axis: "y",
        scroll: false,
        cancel: 'text'
      });

      var url = window.location.pathname;
      $('li.nav-item a').each(function () {
        let hr = $(this).attr('href');
        if (hr == url) {
          $(this).parent("li.nav-item").addClass('active');
          $(this).parents(".collapse").addClass('show');
        }
      });
    });
  </script>-->

</body>

</html>