{% extends "layout.html" %}
{% block content %}
<style>
  body {
    background-color: #fbfbfb;
    color: #000000;
    font-weight: 300;
  }

  .block-main {
    margin: 6% 0% 0% 22%;
    width: 60%;
  }

  .form-check,
  label {
    color: rgb(21, 21, 24) !important;
  }

  input[type=text],
  textarea,
  input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 13px;
  }

  #submit {
    background: linear-gradient(45deg, #0d4b72, #063D59);
    box-shadow: 0px 4px 30px rgb(19 127 5.3%);
    margin-top: 2px;
    width: 20%;
    border-radius: 4px;
    color: white;
    padding: 8px;
    height: fit-content;
    font-size: 16px;
    margin-left: 40%;
  }

  .title {
    color: rgb(21, 21, 24)
  }
</style>
<main class="block-main">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{category}}">
    <span class="closebtn">&times;</span>
    <strong>{{ message }}</strong>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <script>
    var close = document.getElementsByClassName("closebtn");
    var i;

    for (i = 0; i < close.length; i++) {
      close[i].onclick = function () {
        var div = this.parentElement;
        div.style.opacity = "0";
        setTimeout(function () { div.style.display = "none"; }, 600);
      }
    }
  </script>

  <div class="container" id="search-result">
    <div style="text-align: center;">
      <h1> Cập nhật sự kiện</h1>
    </div>
    <form action="" method="post" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div style="display: flex;" class="row">
        {{form.eventname.label }}<br>
        {{ form.eventname(size=32) }}<br>
        {% for error in form.eventname.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
  </div>
  <div style="display: flex;" class="row">
    <div class="col-lg-6">
      <div>{{ form.date.label }}</div>
      {{ form.date(class='datepicker') }}
    </div>
    <div class="col-lg-6">
      <div>{{ form.place.label }}</div>
      {{ form.place(size=32) }}
    </div>
  </div>


  {{ form.description.label }}<br>
  {{ form.description }}<br>
  </div>
  {{ form.submit() }}
  </form>
  </div>
</main>
{% endblock content %}